Source: postgresql-metrics
Section: non-free/net
Priority: extra
Maintainer: Hannu Varjoranta <hannu.varjoranta@spotify.com>
Build-Depends:
  python3 (>= 3.5),
  python3-dev,
  libpq-dev,
  debhelper (>= 9),
  dh-virtualenv (>= 1.0),
  dh-systemd (>= 1.5)
Standards-Version: 3.9.5
X-Python-Version: >= 3.5

Package: postgresql-metrics
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3 (>= 3.5), ${misc:Pre-Depends}
Description: Simple service to provide metrics for your PostgreSQL database
